<!DOCTYPE html>
<html lang="en">
<head>
<style>
    #header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;

    }
    #nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px
</style>
</head>

<body>
<form autocomplete="on">
<div>
    <input type="radio">
    banana<br/>

    <input type="radio">
    apple<br/>
</div>
    <div>

        username <input type="text"  placeholder="usname" maxlength="10" required>
        <br/>
        password <input type="password">
        <br/>
        birthday <input type="date">
        <br>
        select your color <input type="color" >
        <br/>
        select a time <input type="datetime-local">
        <br>
        select a email <input type="email">
        <br>
        make a search <input type="search">
        <br>
        select your number <input type="range" min="0" max="1000">
        <br>
        <input type="submit">
        submit<br/>
        <button>tijiao</button>
    </div>


</form>

</body>
</html>